@font-face {
  font-family: 'iconfont';  /* project id 1447575 */
  src: url('https://at.alicdn.com/t/font_1447575_fav8jsxiuzd.eot');
  src: url('https://at.alicdn.com/t/font_1447575_fav8jsxiuzd.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_1447575_fav8jsxiuzd.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_1447575_fav8jsxiuzd.woff') format('woff'),
  url('https://at.alicdn.com/t/font_1447575_fav8jsxiuzd.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_1447575_fav8jsxiuzd.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconset0142:before {
  content: "\e629";
}

.icon-daohang1:before {
  content: "\e651";
}

.icon-xiangmushenbao:before {
  content: "\e6a6";
}

.icon-project:before {
  content: "\e620";
}

.icon-fenxiang-m:before {
  content: "\e60e";
}

.icon-zhuti:before {
  content: "\e616";
}

.icon-close:before {
  content: "\e60b";
}

.icon-shoucang:before {
  content: "\e659";
}

.icon-xiangmutixi:before {
  content: "\e605";
}

.icon-gongzhonghao:before {
  content: "\e735";
}

.icon-wangzhan:before {
  content: "\e6f5";
}

.icon-close1:before {
  content: "\e61c";
}

.icon-tuichu:before {
  content: "\e630";
}

.icon-pengyouquan:before {
  content: "\e878";
}

.icon-shouye:before {
  content: "\e87b";
}

.icon-sousuo:before {
  content: "\e87c";
}

.icon-wode:before {
  content: "\e87d";
}

.icon-yanchu:before {
  content: "\e87f";
}

.icon-iconzhengli_xiangmu:before {
  content: "\e64c";
}

.icon-sousuo1:before {
  content: "\e658";
}

.icon-shoucang1:before {
  content: "\e640";
}

.icon-Forward:before {
  content: "\e63d";
}

.icon-screen:before {
  content: "\e63e";
}

.icon-collection:before {
  content: "\e63f";
}